@import url('https://fonts.googleapis.com/css?family=Roboto|Kalam|Raleway|Dosis|&display=swap');

html, body {
    background:#fff; 
    color:#333;
    font-family: 'Dosis';
}

a {
    color: #151273;
}
